@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  /* Custom 'komo' palette based on #162456 */
  --color-komo-50: #eef1f8;
  --color-komo-100: #d5dbef;
  --color-komo-200: #aab7df;
  --color-komo-300: #7f93cf;
  --color-komo-400: #546fbf;
  --color-komo-500: #2a4baf;
  --color-komo-600: #213c8c;
  --color-komo-700: #192d69;
  --color-komo-800: #162456;
  --color-komo-900: #101b3f;
  --color-komo-950: #0a1128;
}
